body {
    color: #333;
}

.red {
    border: 1px solid red;
}

h5 small {
    color: #0056b3;
}

.badge {
    position: relative;
}

.badge-bump {
    top: -.12rem;
}

.alert-dismissible .close {
    top: -3px;
}